*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? Noto font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*? Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
/*? all common styles code Start */
:root{
    --primary-color:rgba(233, 90, 8, 1);
    --secondary-color:rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.hidden{
    display: none;
}

.noto-serif{
      font-family: "Noto Serif", serif;
}

.inter{
    font-family: "Inter", sans-serif;
}
/*? all common styles code End */
/*! nav section */
body{
    background-color: rgb(245,248,255);
}
.nav-logo img {
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-items li{
   list-style: none;    
}

.nav-items a{
    text-decoration: none;
    font-family: "Inter",sans-serif;
}
.nav-items li:first-child a{
    color: black;
    font-weight: bold;
}
.nav-items li:not(:first-child) a{
    color: rgba(137, 135, 161, 1);
}
/*! banner section */
.banner{
    display: flex;
    align-items: center;
    margin: 120px 0;
}
.banner-left{
    max-width: 570px;
}
.banner-title{
    font-size: 4rem;
}
.banner-title > span{
    color:var(--primary-color);
}
.banner-discription{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    font-family: "Inter", sans-serif;
}

/*! plant section */
.plant-title,
.plant-discription{
    text-align: center;
}
.plant-title > span{
    color: var(--primary-color);
}
.plant-title {
    font-size: 3.125rem;
    font-family: "Noto Serif", serif;
}
.plant-discription{
    font-size: 1.375rem;
    color: var(--secondary-color);
    width:888px;
    margin: 30px auto;
    font-family: "Inter", sans-serif;
}

.box{
    text-align: center;
    font-family:"Inter";
    width: 270px;
}

.box-title{
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    margin-top: 20px;
    margin-bottom:15px;
}
.box-price{
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-button a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.box-button {
    padding:15px 50px;
    border: none;
    width:100%;
    background-color: var(--primary-color);
}

.plants-box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
/* lover section */
.plant-lover{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 60px;
    margin-top: 210px;
    margin-bottom: 133px;

}
.lover-left{
    width:540px;
    position: relative;
}
.lover-left img{
    width: 100%;
}
.lover-right{
    width:540px;
    padding-top:50px;
}
.lover-right-title{
    font-size: 3.225rem;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "Noto Serif", serif;    
}

.lover-list li {
    font-size:1.375rem;
    color: var(--secondary-color);
    padding-bottom: 30px;
    font-family: "Inter", sans-serif;
}
.lover-logo{
    max-width: 286px;
    position: absolute;
    right:-90px;
    top:-130px;
}

/* Deals Section */
.deals-title{
    text-align: center;
    font-size: 3.125rem;
    font-weight: bold;
     font-family: "Noto Serif", serif;
     margin-bottom: 20px;   
}
.deals-title span{
  color: var(--primary-color);
}
.deals-description{
    width:888px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.375rem;
     font-family: "Inter", sans-serif;
     color: var(--secondary-color);
}
.deals-image-container{
   display: grid;
   height:423px;
   grid-template-columns: 1fr 2fr;  
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
     'image-one image-three'
     'image-two image-three'
   ;
   gap: 28px;
   margin: 120px 0;
}



.image-one{
    background-image: url(../assets/deal-bloom.png); 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: white;
    position: relative;
    overflow: hidden;
    grid-area: image-one;
}

.image-one::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.image-one h3,
.image-two h3{
    font-size: 1.25rem;
    font-weight:bold;
    margin-bottom: 20px;
    z-index: 1;
}
.image-one a,
.image-two a{
    text-decoration: none;
    border-bottom: 1px solid white;
    font-size: 1rem;
    font-weight:bold;
    color: white;
    z-index: 1;
}

.image-two{
    background-image: url(../assets/deal-ana.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: white;
    position: relative;
    overflow: hidden;
    grid-area: image-two;
}

.image-two::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.deals-img-right{
    width: 753px;
}
.deals-image{
    background-image: url(../assets/deal-zabo.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1/3;
    grid-area: image-three;
}
.deals-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4) ;
}
.deals-image h3{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    z-index: 1;
}
.deals-image a{
    text-decoration: none;
    font-size: 1.75rem;
    font-weight:bold;
    border-bottom: 1px solid white;
    color: white;
    z-index: 1;
}

/*! SusCribe section */

.Suscribe-section{
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 533px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Suscribe-section > h2{
    font-size: 3.125rem;
    font-weight:bold;
    color: white;
    margin-bottom: 26px;
}
.subscribe-input{
    display: flex;
    z-index: 1;
}
.input{
    width: 644px;
    padding: 16px 20px;
    border: none;
}
.input::placeholder{
    color: var(--secondary-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.subscribe-btn a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
}
.subscribe-btn{
    padding: 15px 50px;
    border: none;
    background-color: var(--primary-color);
}

/* footer section */
.footer-section{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}
.footer-one{
    width:300px;
}
.footer-one p{
    font-size: 1.375rem;
    color: var(--secondary-color);
}
.footer-section ul li{
    list-style: none;
    padding-bottom: 32px;
}
.footer-section ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "Inter", sans-serif;
}
.footer-link a{
   margin-right: 24px;
}
/*! responsive section */

/* header section responsive */
@media screen and (max-width:576px) {
  
    .navbar{
        padding:20px 16px;
    }
    .header{
        width: 100%;
    }
    .nav-items li{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 20px 0 65px 0;
    }
    .banner-left{
        width: 100%;
        padding: 0 16px;
    }
     .banner-right {
        margin-bottom: 28px;
     }
    .banner-right img{
        width: 100%;
    }

    /* plants section */
   .plants-section{
    padding: 0 16px;
   }
    .plants-box-container{
        grid-template-columns: repeat(2,1fr);
    }
    .plant-discription{
        width: 100%;
    }
    .box{
      width: 100%;
    }
    .box img{
        width: 100%;
      }
 /* lover section */
    .lover-logo{
    display: none;
   }

   .plant-lover{
    flex-direction: column;
    gap:18px;
     padding: 0 16px;
   }
   .lover-right{
    width: 100%;
    padding: 0 20px;
   }
   
   .lover-left{
    width: 100%;
    padding-bottom:0;
    margin:0px;
   }
   .lover-right-title{
    margin-bottom: 16px;
   }
   .lover-list li {
    padding-bottom: 16px;
   }
  /* deals section */
  .deals-description{
    width: 100%;
  }
 
  .deals-image-container{
    height: 581px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'image-one'
    'image-two'
    'image-three'
    ;
    padding: 0 16px;
  }
  .image-one{
    min-height: 184;
  }
    .image-two{
    min-height: 184;
    border-radius:0;
  }
  .deals-image{
    min-height: 175px;
  }
   .deals-image h3{
    font-size: 1.25rem;
    font-weight:bold;
   }

    .deals-image a{
    font-size: 16px;
   }
   /*subcribe section */
   .Suscribe-section{
    width: 100%;
   }
   .input{
    width: 100%;
   }
   .Suscribe-section > h2{
     font-size:1.25rem;
   }
   .subscribe-btn{
    padding: 15px 30px;
   }

   /* footer section */
   .footer-section{
    width: 100%;
    flex-direction: column;
    padding:50px 16px;
   }
   .footer-one{
    margin-bottom: 30px;
   }
   .footer-one p{
    font-size: 16px;
    margin-top: 10px;
   }

   .banner-title,
   .plant-title,
   .lover-right-title,
   .deals-title{
     font-size:1.5rem;
   }

  .banner-discription,
  .plant-discription,
  .lover-list li,
  .deals-description{
    font-size:1rem;
  }
}