*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*? Noto font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*? Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
/*? all common styles code Start */
:root{
    --primary-color:rgba(233, 90, 8, 1);
    --secondary-color:rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.hidden{
    display: none;
}
/*? all common styles code End */
/*! nav section */
body{
    background-color: rgb(245,248,255);
}
.nav-logo img {
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-items li{
   list-style: none;    
}

.nav-items a{
    text-decoration: none;
    font-family: "Inter",sans-serif;
}
.nav-items li:first-child a{
    color: black;
    font-weight: bold;
}
.nav-items li:not(:first-child) a{
    color: rgba(137, 135, 161, 1);
}
/*! banner section */
.banner{
    display: flex;
    align-items: center;
    margin: 120px 0;
}
.banner-left{
    max-width: 570px;
}
.banner-title{
    font-size: 4rem;
}
.banner-title > span{
    color:var(--primary-color);
}
.banner-discription{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

/*! plant section */
.plant-title,
.plant-discription{
    text-align: center;
}
.plant-title > span{
    color: var(--primary-color);
}
.plant-title {
    font-size: 3.125rem;
}
.plant-discription{
    font-size: 1.375rem;
    color: var(--secondary-color);
    width:888px;
    margin: 30px auto;
}

.box{
    text-align: center;
    font-family:"Inter";
    width: 270px;
}

.box-title{
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    margin-top: 20px;
    margin-bottom:15px;
}
.box-price{
    font-size: 1.375rem;
    color:rgba(17, 17, 17, 1) ;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-button a{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.box-button {
    padding:15px 50px;
    border: none;
    width:100%;
    background-color: var(--primary-color);
}

.plants-box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
/* lover section */
.plant-lover{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 60px;
    margin-top: 210px;
    margin-bottom: 133px;
}
.lover-left{
    width:540px;
    position: relative;
}
.lover-left img{
    width: 100%;
}
.lover-right{
    width:540px;
    padding-top:50px;
}
.lover-right-title{
    font-size: 3.225rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.lover-list li {
    font-size:1.375rem;
    color: var(--secondary-color);
    padding-bottom: 30px;
}
.lover-logo{
    max-width: 286px;
    position: absolute;
    right:-90px;
    top:-130px;
}

/*! responsive section */

/* header section responsive */
@media screen and (max-width:576px) {
  
    .navbar{
        padding:0 16px;
    }
    .header{
        width: 100%;
    }
    .nav-items li{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 20px 0 65px 0;
    }
    .banner-left{
        width: 100%;
        padding: 0 16px;
    }
     .banner-right {
        margin-bottom: 28px;
     }
    .banner-right img{
        width: 100%;
    }

    /* plants section */
   .plants-section{
    padding: 0 16px;
   }
    .plants-box-container{
        grid-template-columns: repeat(2,1fr);
    }
    .plant-discription{
        width: 100%;
    }
    .box{
      width: 100%;
    }
    .box img{
        width: 100%;
      }
 /* lover section */
    .lover-logo{
    display: none;
   }

   .plant-lover{
    flex-direction: column;
    gap:18px;
     padding: 0 16px;
   }
   .lover-right{
    width: 100%;
    padding: 0 20px;
   }
   
   .lover-left{
    width: 100%;
    padding-bottom:0;
    margin:0px;
   }
   .lover-right-title{
    margin-bottom: 16px;
   }
   .lover-list li {
    padding-bottom: 16px;
   }
   /* .lover-list li{
    list-style-position: inside;
   } */
}